---
import BaseLayout from "../../layouts/BaseLayout.astro";
const allPosts = await Astro.glob("../posts/*.md");
const tags = [...new Set(allPosts.map((post) => post.frontmatter.tags).flat())];
const pageTitle = "标签索引";

// src/pages/categories.astro 的路由与 src/pages/categories/index.astro 相同
// src/pages/posts.astro 的路由与 src/pages/posts/index.astro 相同
---

<BaseLayout pageTitle={pageTitle}>
    <h1>All Tags</h1>
    <div class="tags">
        { tags.map((tag) => <p class="tag"><a href={`/tags/${tag}`}>{tag}</a></p>) }
    </div>
</BaseLayout>

<style>
    a {
        color: #81C784;
    }

    .tags {
        display: flex;
        flex-wrap: wrap;
    }

    .tag {
        margin: 0.25em;
        border: dotted 1px #81C784;
        border-radius: .5em;
        padding: .5em 1em;
        font-size: 1.15em;
        background-color: #F8FCFD;
    }
</style>