---
import BaseLayout from "../layouts/BaseLayout.astro";
import PostList from "../components/PostList.astro";
// import.meta.glob() 将返回一个对象数组，每个博客文章对应一个对象
const allPosts = Object.values(import.meta.glob('./posts/*.md', { eager: true }));
const pageTitle = "我的 Astro 学习博客";
---

<BaseLayout pageTitle={pageTitle}>
    <h1>这是我的 Astro 学习笔记</h1>
    <ul>
        {allPosts.map((post: any) => <PostList url={post.url} title={post.frontmatter.title} />)}
    </ul>
</BaseLayout>
