---
import BaseLayout from "../layouts/BaseLayout.astro";
import Greeting from '../components/Greeting';
const pageTitle = "首页";
---

<BaseLayout pageTitle={pageTitle}>
	<h1>我超棒的博客副标题</h1>
	<!-- <Greeting messages={["Hi", "Hello", "Howdy", "Hey there"]} /> -->
	<!-- client:load 指令告诉 Astro 在页面加载时将其 JavaScript 发送并重新运行到客户端上，使组件可交互。这称为被注水的组件 -->
	<!-- 具有 client:load 指令的组件会在页面加载后重新渲染，并且任何交互元素都将起作用。 -->
	<!-- client:visible 只会在组件在页面上可见时发送其 JavaScript。 -->
	<Greeting client:load messages={["Hej", "Hallo", "Hola", "Habari"]} />
</BaseLayout>
